#include "windows.h"
#include "winoci.h"

STRINGTABLE
BEGIN
    IDS_ABOUT,     "About..."
    IDS_APPNAME,   APPNAME
    IDS_SAMPLEMENU, "WinociMenu"
    IDS_TITLE,     "Oracle OCI Sample"
END

Winoci ICON WINOCI.ICO
ABOUTBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 9, 27, 140, 92
CAPTION "About Winoci"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
    CONTROL "OCI for Windows V3", 100, "static", SS_CENTER | WS_CHILD, 0, 7, 140, 9
    CONTROL "Sample Application", 101, "static", SS_CENTER | WS_CHILD, 0, 21, 140, 9
    CONTROL "Oracle Desktop Products", 102, "static", SS_CENTER | WS_CHILD, 0, 35, 140, 9
    CONTROL "Copyright \251 1991 by Oracle Corporation.", 104, "static", SS_CENTER | WS_CHILD, 0, 54, 140, 9
    CONTROL "OK", 103, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 55, 70, 32, 12
END

LOGONBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 27, 13, 194, 104
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
    CONTROL "Log on to ORACLE", ID_LOGON_TEXT1, "static", SS_CENTER | WS_CHILD, 0, 5, 194, 9
    CONTROL "User ID", ID_LOGON_TEXT2, "static", SS_RIGHT | WS_CHILD, 0, 24, 55, 9
    CONTROL "Password", ID_LOGON_TEXT3, "static", SS_RIGHT | WS_CHILD, 0, 44, 55, 9
    CONTROL "Connect String", ID_LOGON_TEXT4, "static", SS_RIGHT | WS_CHILD, 0, 64, 55, 9
    CONTROL "", ID_LOGON_USERID, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 60, 22, 124, 12
    CONTROL "", ID_LOGON_PASSWORD, "edit", ES_LEFT | ES_PASSWORD | WS_BORDER | WS_TABSTOP | WS_CHILD, 60, 42, 124, 12
    CONTROL "", ID_LOGON_CONNECT, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 60, 62, 124, 12
    CONTROL "OK", ID_LOGON_OK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 79, 82, 34, 14
    CONTROL "CANCEL", ID_LOGON_CANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 150, 82, 34, 14
END

WinociMenu MENU
BEGIN
    POPUP "Oracle"
        BEGIN
            MENUITEM "Connect", IDM_ORACLE_CONNECT
            MENUITEM "Disconnect", IDM_ORACLE_DISCONNECT, GRAYED
            MENUITEM "Employees", IDM_ORACLE_EMPLOYEES, GRAYED
        END
    MENUITEM "Exit", IDM_EXIT
END

EMPLOYEESBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 15, 28, 186, 140
CAPTION "Employee Record"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
    CONTROL "SELECT", ID_EMPLOYEES_SELECT, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 142, 120, 40, 14
    CONTROL "FETCH", ID_EMPLOYEES_FETCH, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 96, 120, 40, 14
    CONTROL "UPDATE", ID_EMPLOYEES_UPDATE, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 120, 40, 14
    CONTROL "INSERT", ID_EMPLOYEES_INSERT, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 80, 40, 14
    CONTROL "DELETE", ID_EMPLOYEES_DELETE, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 50, 120, 40, 14
    CONTROL "CLEAR", ID_EMPLOYEES_CLEAR, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 100, 40, 14
    CONTROL "COMMIT", ID_EMPLOYEES_COMMIT, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 60, 40, 14
    CONTROL "ROLLBACK", ID_EMPLOYEES_ROLLBACK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 40, 40, 14
    CONTROL "EXIT", ID_EMPLOYEES_EXIT, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 4, 13, 40, 14
    CONTROL "EMPNO", ID_EMPLOYEES_TEXT1, "static", SS_RIGHT | WS_CHILD, 61, 6, 36, 8
    CONTROL "ENAME", ID_EMPLOYEES_TEXT2, "static", SS_RIGHT | WS_CHILD, 61, 20, 36, 8
    CONTROL "JOB", ID_EMPLOYEES_TEXT3, "static", SS_RIGHT | WS_CHILD, 61, 34, 36, 8
    CONTROL "MGR", ID_EMPLOYEES_TEXT4, "static", SS_RIGHT | WS_CHILD, 61, 48, 36, 8
    CONTROL "HIREDATE", ID_EMPLOYEES_TEXT5, "static", SS_RIGHT | WS_CHILD, 61, 62, 36, 8
    CONTROL "SAL", ID_EMPLOYEES_TEXT6, "static", SS_RIGHT | WS_CHILD, 61, 76, 36, 8
    CONTROL "COMM", ID_EMPLOYEES_TEXT7, "static", SS_RIGHT | WS_CHILD, 61, 90, 36, 8
    CONTROL "DEPTNO", ID_EMPLOYEES_TEXT8, "static", SS_RIGHT | WS_CHILD, 61, 104, 36, 8
    CONTROL "", ID_EMPLOYEES_FLD_EMPNO, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 4, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_ENAME, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 18, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_JOB, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 32, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_MGR, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 46, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_HIREDATE, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 60, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_SAL, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 74, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_COMM, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 88, 60, 12
    CONTROL "", ID_EMPLOYEES_FLD_DEPTNO, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 103, 102, 60, 12
END
